
.allMoviesContainer{
    padding: 2rem;
}



.moviesContainer{
    
    /* padding: 1rem; */
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    

    transition:  1s;
 
}

.moviesContainer:hover{
    transform: translateY(10px);
    scale: 1.05;
}

.card-a{
    text-decoration: none;
    color: inherit;
}

.moviesPoster{
    display: inline;
    height: 300px;
    width: 300px;
    border-radius: 1rem 1rem 0 0;
    
}

 .moviesDescription{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    font-weight: 600;
    /* align-items: center; */
}

.moviesName{
    /* display: inline; */
    margin: 0;
    padding: 0;
}



.moviesPlayAndDownload{
    border: none;
    font-weight: 500;
    padding: 0.2rem 1rem;

}