.linkto{
   text-decoration: none;
   font-size: 2.5rem;
   margin: 2vw;
}



.floating-nav{
    display: flex;
    float:left;
    list-style: none;
    background-color:#000000;
    opacity: 0.5;
    width: max-content;
    border-radius: 3.5rem;
    padding: 0.4rem;
    padding-bottom: 0.7rem;
}

.nav{
   display: flex;
   position: fixed;
   z-index: 2;
   flex-direction: column;
   align-items: center;
   transform: translate(30vw,80vh);
   justify-content: center;
}

@media screen and (max-width: 700px) {
   .nav{
      transform: translate(4vw,88vh);
      width: 90vw;
   }
   .floating-nav{
      opacity: 0.7;
   }

}